<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>my portfolio</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
       href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet"

    />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img
            src="assets/img/profile-img1.jpg"
            alt=""
            class="img-fluid rounded-circle"
          />
          <h1 class="text-light"><a href="index.html">Vishal Kharat</a></h1>
          <div class="social-links mt-3 text-center">
            <a href="https://bitly.com/https://x.com/home" class="twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
            <a
              href="https://bitly.com/https://www.facebook.com/vishal.kharat.355138/"
              class="facebook"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a
              href="https://bitly.com/https://www.instagram.com/stubborn_v_i_s_h/"
              class="instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a
              href="https://bitly.com/https://www.linkedin.com/in/vishal-vkharat/"
              class="linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li>
              <a href="#hero" class="nav-link scrollto active"
                ><i class="bx bx-home"></i> <span>Home</span></a
              >
            </li>
            <li>
              <a href="#about" class="nav-link scrollto"
                ><i class="bx bx-user"></i> <span>About</span></a
              >
            </li>
            <li>
              <a href="#resume" class="nav-link scrollto"
                ><i class="bx bx-file-blank"></i> <span>Resume</span></a
              >
            </li>
            <li>
              <a href="#portfolio" class="nav-link scrollto"
                ><i class="bx bx-book-content"></i> <span>Portfolio</span></a
              >
            </li>
            <li>
              <a href="#services" class="nav-link scrollto"
                ><i class="bx bx-server"></i> <span>Services</span></a
              >
            </li>
            <li>
              <a href="#contact" class="nav-link scrollto"
                ><i class="bx bx-envelope"></i> <span>Contact</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    

    <!-- ======= Hero Section ======= -->
    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="hero-container" data-aos="fade-in">
        <h1>Vishal Kharat</h1>
        <p>
          I'm
          <span
            class="typed"
            data-typed-items="Designer, Developer, Freelancer, Photographer"
          ></span>
        </p>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="section-title">
            <h2>About</h2>
            <p>
              Hi, I'm Vishal Kharat, a passionate Back-End Web Developer from
              Pune, India. With a strong foundation in Civil Engineering, I've
              transitioned into the world of web development, where I leverage
              my problem-solving skills to craft scalable and efficient
              solutions. Proficient in JavaScript, HTML, CSS, and Bootstrap,
              I've developed a range of projects that showcase my expertise in
              Node.js, Express.js, and MongoDB. From building a jewellery shop
              catalogue to creating a job portal, I'm dedicated to delivering
              high-quality applications that meet the needs of users. With a
              strong focus on effective communication, collaboration, and
              critical thinking, I'm excited to collaborate with like-minded
              individuals and take on new challenges. Let's explore my projects
              and see how I can help bring your ideas to life!
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="assets/img/profile-img1.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>NodeJS Developer &amp; Web Developer.</h3>
              <p class="fst-italic">
                As a dedicated Back-End Web Developer, I thrive in creating
                dynamic web experiences that meet the needs of users
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Birthday:</strong> <span>28 dec 1998</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Website:</strong> <span>www.example.com</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Phone:</strong> <span>+91 8767624361</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>City:</strong> <span>Pune , India</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                      <span>24</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Degree:</strong> <span>Bachelors</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>email:</strong>
                      <span>kharatv925@gmail.com</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong>Freelance:</strong> <span>Available</span>
                    </li>
                  </ul>
                </div>
              </div>
              <p>
                Passion for building scalable and efficient web applications
                Skills in NodeJS, ExpressJS, and MongoDB Focus on creating
                dynamic web experiences Unique background in Civil Engineering
                and transition into web development Emphasis on problem-solving
                and collaboration
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <section id="facts" class="facts">
        <div class="container">
          <div class="section-title">
            <h2>About Me</h2>
            <p>
              I'm Vishal Kharat, a passionate Back-End Web Developer with a
              drive to create innovative solutions.
            </p>
          </div>

          <div class="row no-gutters">
            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
            >
              <div class="count-box">
                <i class="bi bi-code"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="6"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Projects Completed</strong> as a Back-End Web
                  Developer
                </p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="count-box">
                <i class="bi bi-certificate"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="4"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Certifications Earned</strong> in Back-End Development
                </p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="count-box">
                <i class="bi bi-laptop"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="6"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Technologies Proficient In</strong> including Node.js,
                  Express.js, MongoDB,Bootstrap,RESTful APIs,HTML,CSS and more
                </p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="3"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Soft Skills</strong> as an Effective Communicator,
                  Collaborator, and Critical Thinker
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Facts Section -->
      <!-- End Facts Section -->

      <!-- ======= Skills Section ======= -->
      <section id="skills" class="skills section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Skills</h2>
            <p>
              Skills Proficient in developing scalable back-end web applications
              using Node.js, Express.js, and MongoDB, with expertise in
              JavaScript, HTML, CSS, and Bootstrap. Skilled in designing and
              implementing database schemas, user authentication, and
              authorization systems, with experience in RESTful APIs, JSON Web
              Tokens, and API documentation using Swagger.
            </p>
          </div>

          <div class="row skills-content">
            <div class="col-lg-6" data-aos="fade-up">
              <div class="progress">
                <span class="skill">HTML <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">CSS <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">JavaScript <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="progress">
                <span class="skill">NodeJS <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">MongoDB <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Bootstrap <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container">
          <div class="section-title">
            <h2>Resume</h2>
            <p>
              Experienced backend developer with a strong proficiency in designing and developing scalable, secure, and efficient web applications. Skilled in utilizing HTML, CSS, and JavaScript to craft robust backend solutions. Proficient in leveraging Bootstrap for responsive UI, JWT tokens for authentication, and Postman for API testing.
      </p>
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Vishal Kharat</h4>
                <p>
                  <em
                    >Ambitious and detail-driven Back-End Web Developer with a
                    strong portfolio of personal projects, utilizing Node.js,
                    Express.js, MongoDB, and other cutting-edge technologies to
                    build scalable and user-friendly web applications.</em
                  >
                </p>
                <ul>
                  <li>Akurdi,Pune</li>
                  <li>+91 8767624361</li>
                  <li>kharatv925@gmail.com</li>
                </ul>
              </div>

              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bachelor of Engineering in &amp; Civil</h4>
                <h5>2021 - 2023</h5>
                <p><em> D Y Patil college of Engineering ,Akurdi,Pune</em></p>
                <p>
                  Coursework: Structural Analysis, Building Materials,
                  Transportation Engineering, Water Resources Engineering, and
                  more.
                </p>
              </div>
              <div class="resume-item">
                <h4>Full Stack Web Development Bootcamp Coding Ninjas</h4>
                <h5>aug 2024 - Till Now</h5>
                <p>
                  <em
                    >Full Stack Web Development Bootcamp August 2023 - Present
                    Coding Ninjas, Online Bootcamp</em
                  >
                </p>
                <p>
                  Coursework includes HTML, CSS, JavaScript,Bootstrap, React,
                  and Node.js. Gaining hands-on experience in building web
                  applications and developing skills in problem-solving,
                  collaboration, and version control using Git.
                </p>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>NodeJS Developer</h4>
                <h5>Present</h5>
                <p><em>Self Developed Projects </em></p>
                <ul>
                  <li>
                    Jewellery Shop Catalogue: A web-based catalogue using
                    Node.js, featuring search functionality and design
                    submission capabilities.
                  </li>
                  <li>
                    Employee Review System: A full-stack system using Node.js
                    and MongoDB, with user authentication and authorization.
                  </li>
                  <li>
                    Job Portal: A functional job portal application with secure
                    user registration and login systems.
                  </li>
                  <li>
                    Placement Cell: A student management system with
                    registration, login, and dashboard features.
                  </li>
                </ul>
              </div>
              <div class="resume-item">
                <h4>Demonstrated skills in</h4>
                <h5>Present</h5>
                <p><em>Skills</em></p>
                <ul>
                  <li>Node.js</li>
                  <li>MongoDB</li>
                  <li>ExpressJS</li>
                  <li>JavaScript</li>
                  <li>HTML5</li>
                  <li>CSS</li>
                  <li>Bootstrap</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Resume Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>
              Explore my collection of projects, showcasing my skills in
              back-end development, database management, and user
              authentication. From building a Jewellery Shop Catalogue to
              creating a secure User Authentication system, I've demonstrated my
              ability to design and implement functional solutions. Browse
              through my portfolio to discover more about my projects and the
              technologies I've used to bring them to life.
            </p>
          </div>

          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
              </ul>
            </div>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="https://jewellery-showcase.onrender.com"
                    title="Jewellery Shop Catalogue"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="https://employee-review-sysytem-llad.onrender.com"
                    title="Employee Review Ssytem"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="https://careerconnect-nodejs-jobportal.onrender.com/api-doc"
                    title="CareerConnect-Nodejs-Jobportal"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-4.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="https://placement-cell-n49m.onrender.com"
                    title="Placement Cell"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/PORTFOLIO6.png"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="https://connectsphere-social-media-app.onrender.com/api-docs"
                    title="ConnectSphere social media app"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-5.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="https://node-js-authentication-cwhm.onrender.com"
                    title="Project 5"
                    target="_blank"
                    ><i class="bx bx-link"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              As a Back-End Web Developer, I offer a range of services tailored
              to meet your web development needs. With expertise in JavaScript,
              HTML, CSS, and Bootstrap, I can create dynamic and responsive
              websites that provide an optimal user experience. I have hands-on
              experience with Node.js, Express.js, MongoDB, and Mongoose,
              enabling me to build robust and scalable backend systems. I am
              also proficient in creating secure user authentication systems
              using JSON Web Tokens and have experience in documenting and
              testing APIs using Postman and Swagger. My soft skills, including
              effective communication, collaboration, and critical thinking,
              ensure that I work closely with you to deliver high-quality
              solutions that meet your specific requirements.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Custom Web Development</a></h4>
              <p class="description">
                I build custom web applications using Node.js, Express.js, and
                MongoDB, delivering scalable and secure solutions that meet your
                business needs.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Backend System Integration</a></h4>
              <p class="description">
                I integrate APIs, databases, and third-party services to create
                seamless data exchange, ensuring robust and secure backend
                infrastructure.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title">
                <a href="">API Development and Integration</a>
              </h4>
              <p class="description">
                I design and develop scalable, secure APIs using RESTful
                architecture, ensuring seamless data exchange between systems.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Database Management </a></h4>
              <p class="description">
                I design, implement, and optimize databases for high
                performance, scalability, and data integrity, ensuring efficient
                data storage and retrieval.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title">
                <a href="">User Authentication and Security</a>
              </h4>
              <p class="description">
                I implement robust user authentication and authorization
                systems, ensuring secure data protection and access control, and
                safeguarding against potential threats and vulnerabilities.
              </p>
            </div>
            <div
              class="col-lg-4 col-md-6 icon-box"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title">
                <a href="">Web Application Deployment and Maintenance</a>
              </h4>
              <p class="description">
                I deploy and maintain web applications on cloud-based platforms,
                ensuring seamless scalability, high availability, and optimal
                performance, while also monitoring and troubleshooting issues to
                guarantee a smooth user experience.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials section-bg">
        <div class="container">
          <div class="section-title">
            <h2>Personal Statement </h2>
            <p>
              As a civil engineering graduate with a passion for coding, I've successfully bridged the gap between my technical background and web development skills. Through my online learning journey with Coding Ninjas,I've developed a strong foundation in back-end development, with expertise in Node.js,Express.js and MongoDB. My projects, including a Jewellery Shop Catalogue,Employee Review System,Placement Cell,and Job Portal, demonstrate my ability to design and implement scalable, user-friendly, and efficient web applications.</p>
              <br><br>

             <p> I'm excited to leverage my unique blend of technical skills and civil engineering background to drive innovation in the construction or infrastructure industry. My goal is to become a skilled back-end developer, utilizing my problem-solving skills to create robust and efficient systems that make a meaningful impact. I'm confident that my strong work ethic, effective communication skills, and passion for coding will enable me to thrive in a collaborative and dynamic environment.
            </p>
          </div>
          </div>
      </section>
      <!-- End Testimonials Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact</h2>
            <p>
              I'm excited to collaborate with you on your next project! Whether
              you're looking for a skilled NodeJS developer or a dedicated web
              developer, I'm here to help. Feel free to reach out to me via
              email or phone to discuss your project requirements, ask
              questions, or simply say hello. I look forward to hearing from
              you!
            </p>
          </div>
          <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Akurdi , pune 411035</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>kharatv925@gmail.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 8767624361</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5290.891278695354!2d73.76339145423907!3d18.6493420018009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9e5fc56817d%3A0x36effc279761617e!2sAkurdi%20Railway%20Station!5e0!3m2!1sen!2sin!4v1722086413737!5m2!1sen!2sin"
                  frameborder="0"
                  style="border: 0; width: 100%; height: 290px"
                  allowfullscreen
                ></iframe>
              </div>
            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form id="contact-form" action="https://api.web3forms.com/submit" method="POST">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="submit-button">Submit</button>
                </div>
                <input type="hidden" name="apikey" value="bca88502-6f91-43d8-a778-bcba5fd4ba91">
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Vishal Kharat</span></strong>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
          Designed by <a href="https://github.com/vishkharat">Vishal Kharat</a>
        </div>
      </div>
    </footer>
    <!-- End  Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.umd.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
